{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>synapse_admin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/forms.css' %}">

    <link rel="stylesheet" href="{% static 'users/user.css' %}">

    <link rel="stylesheet" href="{% static 'dashboard/auth.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
</head>
<body>
    <div>
        <header>
            <div>synapse_admin</div>
        </header>
        {% block content %}

        {% endblock %}
    </div>
    {% block optional_scripts %}
    
    {% endblock %}
</body>
</html>