{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex flex-wrap justify-content-evenly m-2 table-responsive rounded bg-dark p-2">
        <table class="table table-dark">
            <tr>
                <th>NAME</th>
                <th>PUBLIC NAME</th>
                <th>CREATED AT</th>
                <th>IS DEACTIVATED</th>
            </tr>
            {% for user in users %}
                <tr>
                    <th><a class="link-light" href="{% url 'users:detail' user_id=user.name %}">{{ user.name }}</a></th>
                    <td>{{ user.display_name }}</td>
                    <td>{{ user.created_at}}</td>
                    <td>{% if user.is_deactivated == True %} Yes {% else %} No {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="map" class="container m-2 w-100 bg-dark rounded p-2"></div>
{% endblock %}

{% block optional_scripts %}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/map.js' %}"></script>
    <script type="text/javascript">setMapFromJson(String.raw`{{ map|safe }}`);</script>
{% endblock %}
