{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="p-2">
        <div id="server_map" class="bg-light mb-2" style="height: 500px">

        </div>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <caption>Users registered in the last week. Information was last updated at: {{ last_users_info_update|default:"Error" }}</caption>
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>CREATED AT</th>
                    <th>L.S. IP</th>
                    <th>L.S. COUNTRY</th>
                </tr>
                </thead>
                <tbody>
                {% for user in new_users_for_last_week %}
                    <tr>
                        <td>{{ user.name|truncatechars:24 }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{{ user.ip }}</td>
                        <td>{{ user.country }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="alert alert-primary">
            {% if size_of_all_media %}
                The amount of memory used: {{ size_of_all_media }} at {{ last_media_statistics_info_updating }}
            {% else %}
                The amount of memory used: Error
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block optional_scripts %}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/map.js' %}"></script>
    <script type="text/javascript">setMapFromJson(String.raw`{{ server_map|safe }}`);</script>
{% endblock %}