{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div id="map" class="container m-2">

    </div>
    <div class="container d-flex flex-wrap justify-content-evenly m-2">
        {% for user in users %}
            {% include 'users/user_card.html' %}
        {% endfor %}
    </div>
{% endblock %}

{% block optional_scripts %}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/map.js' %}"></script>
    <script type="text/javascript">setMapFromJson(String.raw`{{ map|safe }}`);</script>
{% endblock %}
