{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>synapse_admin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'dashboard/init.css' %}">
</head>
<body>
    <div class="container m-2 d-flex justify-content-center">
        <div class="card m-2" style="width: 24rem;" data-bs-theme="dark">
            <div class="card-header text-light">synapse_admin initialization </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Server name: {{ server_name }}</li>
                    <li class="list-group-item">Token: {{ access_token|truncatechars:20 }}</li>
                    <li class="list-group-item">Connection to server: {{ connection_status_code }}</li>
                    {% if error_message %}
                    <li class="list-group-item text-danger">{{ error_message }}</li>
                    {% endif %}
                </ul>
            </div>
            {% if connection_status_code == 200 %}
                <div class="card-footer">
                    <a href="{% url 'dashboard:dashboard' %}" class="card-link">Go to Dashboard?</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>