{% extends '_base.html' %}

{% block content %}
    <div class="d-flex justify-content-center py-5 px-1">
        <div class="card">
            <div class="card-header">synapse_admin init</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Server: {{ server_name }}</li>
                    <li class="list-group-item">Token: {{ server_access_token|truncatechars:20 }}</li>
                </ul>
            </div>
            <div class="card-footer">
                {% if init_successful %}
                    <a href="{% url 'dashboard:dashboard' %}">Got to dashboard?</a>
                {% else %}
                    <div class="text-danger">Your token is invalid!</div>
                {% endif %} 
            </div>
        </div>
    </div>
{% endblock %}