{% extends '_base.html' %}

{% block content %}
    <div class="p-2">
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href=""><</a></li>
                    <li class="page-item"><a class="page-link" href="">0</a></li>
                    <li class="page-item"><a class="page-link" href="">></a></li>
                </ul>
            </nav>
        </div>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <caption>All users</caption>
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>DISPLAY NAME</th>
                    <th>CREATED AT</th>
                    <th>ADMIN</th>
                    <th>DEACTIVATED</th>
                    <th>L.S. IP</th>
                    <th>L.S. AT</th>
                    <th>L.S. COUNTRY</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.name|slice:":-20"|truncatechars:20 }}</th>
                        <td>{{ user.display_name|truncatechars:24 }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{% if user.is_admin %} Yes {% else %} No {% endif %}</td>
                        <td>{% if user.is_deactivated %} Yes {% else %} No {% endif %}</td>
                        <td>{{ user.last_seen_ip }}</td>
                        <td>{{ user.last_seen_at }}</td>
                        <td>{{ user.last_seen_country }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}