{% extends '_base.html' %}

{% block content %}
    <div class="my-2 p-2 d-flex flex-wrap justify-content-center">
        <div class="flex-shrink-0 m-2 d-flex flex-column">
            <img style="object-fit: cover"
                 src="{{ user.avatar_url|default:'https://cdn3.emoji.gg/emojis/9889-pain.gif' }}" alt="{{ user.name }}"
                 class="rounded text-light bg-light"
                 width="200px" height="200px">
            {% if not user.is_deactivated %}
                <a href="{% url 'users:deactivate' user_id=user.name %}" class="btn btn-danger mt-2">DEACTIVATE</a>
            {% else %}
                <a href="{% url 'users:activate' user_id=user.name %}" class="btn btn-success mt-2">ACTIVATE</a>
            {% endif %}
            {% if not user.is_admin %}
                <a href="{% url 'users:set_admin' user_id=user.name %}" class="btn btn-danger mt-2">MAKE ADMIN</a>
            {% else %}
                <a href="{% url 'users:revoke_admin' user_id=user.name %}" class="btn btn-success mt-2">REVOKE ADMIN</a>
            {% endif %}
        </div>
        <div class="flex-grow-1 m-2">
            <ul class="list-group">
                <li class="list-group-item text-center">PROFILE</li>
                <li class="list-group-item">Name: {{ user.name_without_server_name_ending }}</li>
                <li class="list-group-item">Display name: {{ user.display_name }}</li>
                <li class="list-group-item">Created at: {{ user.created_at }}</li>
                <li class="list-group-item">Last seen IP: {{ user.last_seen_ip }} - {{ user.last_seen_country }}</li>
                <li class="list-group-item">Last seen at: {{ user.last_seen_at }}</li>
                <li class="list-group-item">Last seen user agent: {{ user.last_seen_user_agent }}</li>
                <li class="list-group-item">Is admin: {% if user.is_admin %} Yes {% else %} No {% endif %}</li>
                <li class="list-group-item">Is deactivated: {% if user.is_deactivated %} Yes {% else %}
                    No {% endif %}</li>
                <li class="list-group-item text-center">MEDIA</li>
                <li class="list-group-item">Media count: {% if user.upload_media_count %}
                    {{ user.upload_media_count }} {% else %} 0 {% endif %} </li>
                <li class="list-group-item">Media size:  {% if user.size_of_upload_media %}
                    {{ user.size_of_upload_media }} {% else %} 0 {% endif %}</li>
            </ul>
        </div>
    </div>
{% endblock %}